/* 响应相关样式 */

/* 响应信息卡片 */
.response-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.response-item {
  display: flex;
  align-items: center;
}

.response-label {
  font-size: 0.875rem;
  color: #4E5969;
  margin-right: 0.5rem;
}

.response-value {
  font-size: 0.875rem;
}

.response-content {
  background-color: #1D21290D;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', monospace;
  overflow: auto;
  max-height: 31.25rem;
}